body {
	background-color: #ffffff;
	color: #000000;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.bande-gauche,
.bande-droite {
  width: 60px;
  background-color: #FFE436;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 1;
}

.bande-gauche {
  left: 0;
}

.bande-droite {
  right: 0;
}

.contenu {
  width: 80%;
  max-width: 1000px;
  z-index: 2;
  position: relative;
  background-color: ;
  padding: 20px;
}
@media only screen and (max-width: 768px) {
  .bande-gauche,
  .bande-droite {
    display: none; /* On cache les bandes sur petit écran */
  }

  .contenu {
    width: 90%;
    padding: 10px;
  }

  body {
    background-color: #F0E36B;
	color: #E67E30;
  }
}

button {
  padding: 10px 20px;
  background-color: #FFE436;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3366cc;
}