body {
	background-color: #FFE436;
	color: #8B6C42;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.bande-gauche,
.bande-droite {
  width: 60px;
  background-color: #2B5DAD;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 1;
}

.bande-gauche {
  left: 0;
}

.bande-droite {
  right: 0;
}

.contenu {
  width: 80%;
  max-width: 1000px;
  z-index: 2;
  position: relative;
  background-color: #FFFFFF;
  padding: 20px;
}
