body {
	background-color: #FFE436;
	color: #8B6C42;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.bande-gauche,
.bande-droite {
  width: 60px;
  background-color: #2B5DAD;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 1;
}

.bande-gauche {
  left: 0;
}

.bande-droite {
  right: 0;
}

.contenu {
  width: 80%;
  max-width: 1000px;
  z-index: 2;
  position: relative;
  background-color: #FFFFFF;
  padding: 20px;
}
@media only screen and (max-width: 768px) {
  .bande-gauche,
  .bande-droite {
    display: none; /* On cache les bandes sur petit écran */
  }

  .contenu {
    width: 90%;
    padding: 10px;
  }

  body {
    background-color: #8B6C42;
	color: #E8D630;
  }
}
